<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Aplicacion generador de degradados para CSS en tiempo real y hecho en Vue 3">
    <!-- Metadato para PWA -->
        <!-- Modificar color barra de estado Android -->
        <meta name="theme-color" content="#f5f5dc"> 
        <!-- Modificar color barra de estado iOS -->
            <meta name="apple-mobile-web-app-capable" content="yes">
            <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <!-- Optimizaciones de SEO -->
            <meta name="MobileOptimized" content="width">
            <meta name="HandheldFriendly" content="true">
    <title>Generador de degradados</title>
    <!-- Iconos -->
    <link rel="shortcut icon" href="img/favicon.png" type="image/png"> <!-- Icono obtenido de: https://www.flaticon.es/icono-gratis/degradado_997806?term=degradado&page=1&position=10&page=1&position=10&related_id=997806&origin=search -->
    <link rel="apple-touch-icon" href="img/favicon.png">
    <link rel="apple-touch-startup-image" href="img/favicon.png">
    <!-- Manifest -->
    <link rel="manifest" href="manifest.json">
    <!-- Hoja de estilos -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Vue -->
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
    
    <div id="app">
        <h1>Generador de degradados</h1>
    
        <hr>

        <form>
            <label>
                Color 1:
                <input type="color" v-model="fcolor">
            </label>
            <label>
                Color 2:
                <input type="color" v-model="scolor">
            </label>
        </form>

        <p>HEX 1: {{fcolor}}</p>
        <p>HEX 2: {{scolor}}</p>

        <form>
            <label>
                <input class="value-css" type="text" :value="setColor">
            </label>

            <br>

            <label>
                <input type="radio" value="right" v-model.text="orientation"> Derecha
            </label>
            <label>
                <input type="radio" value="left" v-model.text="orientation"> Izquierda
            </label>
            <label>
                <input type="radio" value="top" v-model.text="orientation"> Arriba
            </label>
            <label>
                <input type="radio" value="bottom" v-model.text="orientation"> Abajo
            </label>

        </form>

        <br>
        <!-- <p>{{setColor}}</p> -->

        <div class="area" :style="setColor">

        </div>

    </div>

    <script src="load.js"></script>
    <script src="js/main.js"></script>
    <script src="js/mountApp.js"></script>

</body>
</html>